<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Company Profile
        </h1>
        <ol class="breadcrumb">
            <li><a href=""><i class="fa fa-dashboard"></i>Home</a></li>
            <li><a href="">Examples</a></li>
            <li class="active">Company profile</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-3">

                <!-- Profile Image -->
                <div class="box box-primary">
                    <div class="box-body box-profile">
                        <h2 class="profile-user-img img-responsive img-circle"style="background-color:#808080;text-align:center;">{{name}}</h2>
                        <h3 class="profile-username text-center">{{Company}}</h3>
                    <!--    <p class="text-muted text-center">Company Type</p>-->
                       <!-- <a href="" class="btn btn-success btn-block">PRO Account</a>-->
                        <ul class="list-group list-group-unbordered">
                            <li class="list-group-item">
                                <b>Company Users</b> <a class="pull-right">1,322</a>
                            </li>
                            <li class="list-group-item">
                                <b>Customer Users</b> <a class="pull-right">543</a>
                            </li>
                            <!-- <li class="list-group-item">
                                <b>Friends</b> <a class="pull-right">13,287</a>
                            </li>-->
                        </ul>
                        <a href="#/admin/user/createuser/{{UserId}}" class="btn btn-default btn-block"><i class="fa fa-cog pull-right"></i>Edit Profile</a>
                        <!--     <a href="" class="btn btn-primary btn-block"><b>Follow</b></a>-->
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
                <!-- /.col -->
            </div>
            <div class="col-md-3">
                <div class="panel panel-theme rounded shadow">
                    <!-- Contact Details Box -->
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Contact Details</h3>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="box-body box-profile">
                        <ul class="list-group list-group-unbordered">
                            <li class="list-group-item"><i class="fa fa-envelope mr-5"></i>support@djavaui.com</li>
                            <li class="list-group-item"><i class="fa fa-globe mr-5"></i>www.djavaui.com</li>
                            <li class="list-group-item"><i class="fa fa-phone mr-5"></i>+6281 903 xxx xxx</li>
                        </ul>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.col -->
            </div>
            <div class="col-md-3">
                <div class="panel panel-theme rounded shadow">
                    <!-- Contact Details Box -->
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Contact Details</h3>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="box-body box-profile">
                        <ul class="list-group list-group-unbordered">
                            <li class="list-group-item"><i class="fa fa-envelope mr-5"></i>support@djavaui.com</li>
                            <li class="list-group-item"><i class="fa fa-globe mr-5"></i>www.djavaui.com</li>
                            <li class="list-group-item"><i class="fa fa-phone mr-5"></i>+6281 903 xxx xxx</li>
                        </ul>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.col -->
            </div>


            <div class="col-md-12">
        <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                     <!--   <li class="active"><a href="#activity" data-toggle="tab">Activity</a></li>
                        <li><a href="#timeline" data-toggle="tab">Timeline</a></li>-->
                  <li><a href="" data-toggle="tab">Settings</a></li>
              </ul>
                    <div class="tab-content">
                        <div class="active tab-pane" id="activity">
                            </div>
                        </div>
            </div>
         </div>
        </div>
    </section>
</div>

