<div>
    <h1>Signup as Company</h1>

    <form onsubmit="return false">
        <div class="col-2">
            <label>
                Company Name
      <input placeholder="What is your full name?" id="companyname" name="companyname" tabindex="1">
            </label>
        </div>
        <div class="col-2">
            <label>
                Business Email
      <input placeholder="What is your e-mail address?" id="businessemail" name="businessemail" tabindex="2">
            </label>
        </div>

        <div class="col-3">
            <label>
                Phone Number
      <input placeholder="What is the best # to reach you?" id="phone" name="phone" tabindex="3">
            </label>
        </div>
        <div class="col-3">
            <label>
                Email
      <input placeholder="What is your e-mail address?" id="email" name="email" tabindex="4">
            </label>
        </div>
        <div class="col-3">
            <label>
                Availability
      <select tabindex="5">
          <option>5-15 hrs per week</option>
          <option>15-30 hrs per week</option>
          <option>30-40 hrs per week</option>
      </select>
            </label>
        </div>

        <div class="col-4">
            <label>
                Skills
      <input placeholder="List a few of your primary skills" id="skills" name="skills" tabindex="6">
            </label>
        </div>
        <div class="col-4">
            <label>
                Yrs Experience
      <input placeholder="How many years of experience?" id="experience" name="experience" tabindex="7">
            </label>
        </div>
        <div class="col-4">
            <label>Contact References?</label>
            <center style="position: relative; margin-bottom: 8px;"><input type="checkbox" class="js-switch"></center>
        </div>
        <div class="col-4 switch">
            <label>E-mail Updates?</label>
            <center style="position: relative; margin-bottom: 8px;"><input type="checkbox" class="js-switch"></center>
        </div>

        <div class="col-submit">
            <button class="submitbtn">Submit Form</button>
        </div>

    </form>

</div>


<div class="col-sm-12 ">
    <!-- Register form -->
    <form class="form-horizontal rounded shadow no-overflow" action="page-signin.html">
        <div class="sign-header">
            <div class="form-group">
                <div class="sign-text">
                    <span>
                        <h4>Signup as Company</h4>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="col-sm-6">
                <div class="sign-body">
                    <div class="form-group1">
                        <div class="input-group input-group-lg rounded no-overflow">
                            <input type="text" class="form-control" placeholder="Company Name">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        </div>
                    </div>
                    <div class="form-group1">
                        <div class="input-group input-group-lg rounded no-overflow">
                            <input type="text" class="form-control" placeholder="Company Type">
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        </div>
                    </div>
                    <div class="form-group1">
                        <div class="input-group input-group-lg rounded no-overflow">
                            <input type="text" class="form-control" placeholder="Address">
                            <span class="input-group-addon"><i class="fa fa-check"></i></span>
                        </div>
                    </div>
                    <div class="form-group1">
                        <div class="input-group input-group-lg rounded no-overflow">
                            <input type="text" class="form-control" placeholder="City">
                            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                        </div>
                    </div>
                    <div class="form-group1">
                        <div class="input-group input-group-lg rounded no-overflow">
                            <input type="text" class="form-control" placeholder="State">
                            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                        </div>
                    </div>
                    <div class="form-group1">
                        <div class="input-group input-group-lg rounded no-overflow">
                            <input type="text" class="form-control" placeholder="Country">
                            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                        </div>
                    </div>

                     <div class="form-group1">
                        <div class="input-group input-group-lg rounded no-overflow">
                            <input type="text" class="form-control" placeholder="Zip Code">
                            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                        </div>
                    </div>

                     <div class="form-group1">
                        <div class="input-group input-group-lg rounded no-overflow">
                            <input type="text" class="form-control" placeholder="Phone Number">
                            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-sm-6">
                <div class="sign-body">
                    <div class="form-group1">
                        <div class="input-group input-group-lg rounded no-overflow">
                            <input type="text" class="form-control" placeholder="Business Email">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        </div>
                    </div>
                    <div class="form-group1">
                        <div class="input-group input-group-lg rounded no-overflow">
                            <input type="text" class="form-control" placeholder="Company Admin Username">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        </div>
                    </div>
                    <div class="form-group1">
                        <div class="input-group input-group-lg rounded no-overflow">
                            <input type="password" class="form-control" placeholder="Password">
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        </div>
                    </div>
                    <div class="form-group1">
                        <div class="input-group input-group-lg rounded no-overflow">
                            <input type="password" class="form-control" placeholder="Confirm Password">
                            <span class="input-group-addon"><i class="fa fa-check"></i></span>
                        </div>
                    </div>
                    
                </div>

            </div>


        </div>

        <div class="sign-footer">
            <div class="form-group1">
                <div class="callout callout-info no-margin">
                    <p class="text-muted">To confirm and activate your new account, we will need to send the activation code to your e-mail.</p>
                </div>
            </div>
            <div class="form-group1">
                <div class="ckbox ckbox-theme">
                    <input id="term-of-service" value="1" type="checkbox">
                    <label for="term-of-service" class="rounded">I agree with <a href="#">Term Of Service</a></label>
                </div>
                <div class="ckbox ckbox-theme">
                    <input id="newsletter" value="1" type="checkbox">
                    <label for="newsletter" class="rounded">Send me newsletter</label>
                </div>
            </div>
            <div class="form-group1">
                <button type="submit" class="btn btn-theme btn-lg btn-block no-margin rounded log-btn">Sign Up</button>
            </div>
        </div>
    </form>
    <!--/ Register form -->
</div>
<!-- Content text -->
<p class="text-muted text-center sign-link">Already have an account? <a href="page-signin.html">Sign in here</a></p>
<!--/ Content text -->


<script type="text/javascript">
    jQuery(document).ready(function () {
        // binds form submission and fields to the validation engine
        // binds form submission and fields to the validation engine
        $("form").validationEngine();
    });


</script>
