<div class="login-box">
      <div class="login-logo">
        <a><b>Open</b>CRM</a>
      </div><!-- /.login-logo -->
      <div class="login-box-body">
        <p class="login-box-msg">Sign in to start your session</p>
        <form id="LoginID" name="loginForm">
          <div class="form-group has-feedback">
            <input  class="form-control validate[required] text-input" ng-model="UserModel.UserName" placeholder="Username">
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
            <input type="password"  class="form-control validate[required] text-input" ng-model="UserModel.UserPassword" placeholder="Password" id="Passwod">
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          </div>
          <div class="row">
            <div class="col-xs-8">
              <div class="checkbox icheck">
                <label>
                  <input type="checkbox"> Remember Me
                </label>
              </div>
            </div><!-- /.col -->
            <div class="col-xs-4">
              <button type="submit" class="btn btn-primary btn-block btn-flat" ng-click="Login()">Sign In</button>
            </div><!-- /.col -->
          </div>
        </form>

        <a href="#/forgotpassword">I forgot my password</a><br>
          <a href="#/registercompany" class="text-center">Register you company</a>

      </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->


   

<script type="text/javascript">
    jQuery(document).ready(function () {
        // binds form submission and fields to the validation engine
        // binds form submission and fields to the validation engine
        $("form").validationEngine();
    });
</script>
