
 <form name="buyerForm" novalidate>
            <div class="modal-body">
                <div class="panel panel-default">
                            <div class="panel-heading">ToDo List
                                  <div class="pull-right box-tools cancel-btn">
                            <button class="btn btn-info btn-sm" ng-click="cancel()" title="Remove"><i class="fa fa-times"></i></button>
                        </div>
                            </div>
                   
                            <div class="panel-body">
                                {{Priority}}
                <p>{{showlistmassage}} &nbsp  {{ListCreateDate |date}}</p>
</div>
                    </div>
                
                </div>
     </form>