@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="acApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Buyers
    </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="~/Scripts/angular/angular.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script src="~/Scripts/angular/app.js"></script>
    <script src="~/Scripts/angular/buyer-service.js"></script>
    <script src="~/Scripts/angular/buyer-controller.js"></script>
</head>
<body ng-controller="buyer-controller">
    <div class="container">
        <h2>WelCome to asp.net web api</h2>
    </div>
</body>
</html>

